<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyniki</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<h1>Podane dane:</h1>
<ul>
    <li>Jakies slowo <%= cokolwiek %></li>
    <li>Jakas liczba <%= cokolwiekliczba %></li>
    <li>EMail <%= email %></li>
</ul>
</body>
</html>
